.hero {
    padding: 72px 0;
    max-width: 320px;
    margin: 0 auto;
    background-image: 
    linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)),
    url("../images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (min-resolution: 192dpi) {
    .hero {
        background-image:
        lineargradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url("../images/hero-bg-2x.jpg");
    }
}

.hero-title {
    max-width: 216px;
    margin: 0 auto;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

.hero-button {
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 48px auto 0;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

@media screen and (min-resolution: 192dpi) {
    .hero {
    background-image: 
    linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)),
    url("../images/hero-bg-2x.jpg");
    }
}

@media screen and (min-width: 768px) {
    .hero {
        max-width: 768px;
        background-image:
        linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
      url("../images/hero-bg.jpg");
    }
    .hero-title {
        max-width: 496px;
        font-size: 56px;
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        max-width: 1440px;
        padding: 188px 0;
    }
}
