.modal-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms ease-in-out; 
} 

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}
 
.modal {
    min-height: 584px;
    width: 408px;
    position: relative;
    padding: 72px 24px 24px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 24px;
    background-color: #e7e9fc;
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}

.icon-close {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.close-btn:hover .icon-close,
.close-btn:focus .icon-close {
    fill: #fff;
}

.modal-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
}


.input-wrapper {
    margin-bottom: 8px;
}

.comment-wrapper {
    margin-bottom: 16px;
}

.form-label {
    display: block;
    margin-bottom: 4px;
    color: #8E8F99;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
}

.form-label-checkbox {
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.policy {
    color: #4D5AE5;
    text-decoration: underline;
}

.input-text,
.input-phone,
.input-email,
.textarea {
    background-color: transparent;
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn {
    display: block;
    background-color: #4D5AE5;
    min-width: 169px;
    height: 56px;
    margin: 24px auto 0;
    padding: 16px 65px;
    border-radius: 4px;
    color: #Ffffff;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
    background-color: #404bbf;
}

.textarea {
    height: 120px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    
}

.textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.input-text:focus,
.input-phone:focus,
.input-email:focus,
.textarea:focus {
    border-color: #4d5ae5;
}

.input-text:focus + .input-icon,
.input-phone:focus + .input-icon,
.input-email:focus + .input-icon {
    fill: #4d5ae5;
}

.input-box {
    position: relative;
}

.input-text,
.input-phone,
.input-email {
    padding-left: 38px;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    pointer-events: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-email {
    padding-left: 38px;
}

.checkbox-wrapper {
    margin-bottom: 24px;
}

.form-label-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.checkbox-custom {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    vertical-align: middle;
    color: transparent;
    transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.checkbox-input:checked + .checkbox-custom {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
    color: #f4f4fd;
}

.checkbox-icon {
    fill: currentColor;
}